.all_notes {
    width: 10%;
    height:100vh;
    overflow-y: auto;
    float: left;
    text-align:justify;
}
.single_note {
    width: 70%;
    height:100vh;
    overflow-y: auto;
    float: left;
    text-align:justify;
}
.single_preview {
    border-style: outset;
}

.container-fluid {
  padding: 0px;
}

html {
    text-align: justify;
    font-size: 1em;
}

body {
    height: 100%;
}

.line_height {
    line-height: 90%;
}

.note_title_gap {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.note_preview_gap {
    margin-top: 0;
    margin-bottom: 1rem;
}

.viewport {
    height: 100vh;
    overflow-y: auto;
}
.title {
    width: 100%;
}

a:focus, a:hover{
    text-decoration : none;
    color : #000;
}
a {
    text-decoration : none;
    color : #000;
}


